@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --Red: hsl(0, 100%, 74%) ;
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%) ;
    --Grayish-Blue: hsl(246, 25%, 77%);
    --White: #fff;

    --font: 'Poppins', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--font);
    font-size: 1.6rem;
    background-color: var(--Red);
    background-image: url(./images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}
p {
    margin: 0;
}




main {
    font-size: 16px;
}

@media (min-width: 1024px) {
    body {
        background-image: url(./images/bg-intro-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100vh;
    }
}




.section-description {
    margin: 0 auto;
    padding: 1rem;
    max-width: 50rem;
    min-width: 34rem;
    margin-top: 9rem;
    margin-bottom: 6rem;
}

.section-description > * {
    color: var(--White);
    text-align: center;
}

.tittle {
    font-weight: 700;
}

.description {
    font-weight: 400;
}

@media (min-width: 1024px) {
    .section-description {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: none;
        margin-left: 20rem;
    }
    .section-description > * {
        text-align: left;
    }

    .tittle {
        font-size: 6rem;
        line-height: 7rem;
    }
    .description {
        font-size: 18px;
        font-weight: 500;
        line-height: 2.8rem;
    }
}



.section-form {
    margin: 0 auto;
    padding: 1rem;
    max-width: 50rem;
    min-width: 34rem;
}

@media (min-width: 1024px) {
    .section-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: none;
        margin: 8rem 10rem;
    }
}


.free-trial {
    width: 100%;
    background-color: var(--Blue);
    padding: 1.5rem 5rem;
    border-radius: 1rem;
    box-shadow: 0px 8px 0px 0px rgb(211 91 91 / 75%);
}
.free-trial p {
    text-align: center;
    color: var(--White);
    font-weight: 400;
}
.free-trial span {
    font-weight: 700;
}

@media (min-width: 1024px) {
    .free-trial {
        padding: 2rem 0;
    }
}


.form {
    background-color: var(--White);
    width: 100%;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 8px 0px 0px rgb(211 91 91 / 75%);
}

@media (min-width: 1024px) {
    .form {
        height: auto;
        padding: 5rem;
    }
}


.campo {
    width: 100%;
    margin-bottom: 2rem;
}

.campo input {
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    border: 1px solid var(--Grayish-Blue);
    color: var(--Dark-Blue);
    font-family: var(--font);
    font-weight: 600;
    font-size: 16px;
}
.campo input::placeholder {
    font-weight: 600;
    color: var(--Dark-Blue);
    opacity: 70%;
}

.campo .error-message {
    text-align: right;
    font-style: italic;
    color: var(--Red);
}

.campo .error {
    background: url(./images/icon-error.svg) 95% no-repeat;
    color: var(--Red);
    border: 1px solid var(--Red);
}
.campo .error::placeholder {
    color: var(--Red);
    opacity: 70%;
}

@media (min-width: 1024px) {
    .campo {
        margin-bottom: 2.5rem;
    }
}


.submit {
    margin-bottom: 1rem;
}

.submit input {
    width: 100%;
    padding: 1.5rem;
    border: none;
    background-color: var(--Green);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--White);
    font-family: var(--font);
    font-size: 16px;
    border-radius: .5rem;
    box-shadow: 0px 5px 0px 0px rgb(40 177 118);
    transition: .3s;
}
.submit input:hover {
    cursor: pointer;
    opacity: 70%;
    transition: .3s;
}

@media (min-width: 1024px) {
    .submit input {
        font-size: 20px;
    }
}


.terms-and-services {
    margin: 0 3rem;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: var(--Grayish-Blue);
}

.terms-and-services a {
    text-decoration: none;
    color: var(--Red);
    font-weight: 600;
}

@media (min-width: 1024px) {
    .terms-and-services {
        margin-top: 2rem;
        font-size: 16px;
    }
}